@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

html {
  --line-color: #e5e7eb;
  --burger-color-line: #000;
  color-scheme: light;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
  --burger-color-line: #fff;
  color-scheme: dark;
}

.burger::after,
.burger::before {
  @apply block h-px w-2/5 mx-auto bg-burger-color-line relative transition-transform duration-300;
  content: "";
}

.burger::after {
  top: -5px;
}

.burger::before {
  top: 5px;
}

.burgerActive::after {
  @apply transform rotate-45;
  top: -1px;
}

.burgerActive::before {
  @apply transform -rotate-45;
  top: 0;
}

.borderBlack {
  @apply border border-black/10;
}
